<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="ToDo App" verbose="1">
    <parameter name="deviceName" value="moSaber"/>
    <parameter name="platformName" value="android"/>
    <parameter name="platformVersion" value="12"/>
    <test name="android">
        <groups>
            <run>
                <include name="auth"/>
            </run>
        </groups>
        <classes>
            <class name="testcases.LoginTest"/>
            <class name="testcases.RegisterTest"/>
        </classes>
    </test>
</suite>


